<app-header></app-header>
<div class="w-full bg-gray-50 dark:bg-dark-grey py-10">
  <div class="container mx-auto px-6 flex items-start justify-center">
    <div class="w-full">
      <!-- Card is full width. Use in 12 col grid for best view. -->
      <!-- Card code block start -->
      <div
        class="mx-auto w-full p-5 lg:p-10 bg-white dark:bg-transparent shadow rounded"
      >
        <div
          class="grid grid-cols-3 lg:flex-row items-start lg:items-center mb-8"
        >
          <div class="w-full">
            <img
            class="coin-logo overflow-hidden object-cover rounded object-center"
            src="{{ iconUrl }}"
            alt="logo"
          />  <h1
              class="coin-name text-xl mr-5 lg:text-2xl text-gray-800 dark:text-gray-100 font-bold"
            >
              {{ name }}
            </h1>
            <span class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-800">
              <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                 {{symbol}}
              </span>
            </span>
            <span class="coin-rank w-20 text-white pl-3.5 py-2 mt-2 text-xs bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-800">
                Rank #{{rank}}      
            </span>
          </div>
          <div class="w-full">
            <h1 class="text-indigo-700 dark:text-indigo-600 leading-6 text-xl">
              {{ name }}'s Price
            </h1>
            <h2
              class="coin-price text-xl lg:text-2xl text-gray-800 dark:text-gray-100 font-bold"
            >
              ${{ price | number: "1.2-2" }}
            </h2>
             <!--For Negetive Change -->
            <a *ngIf = "isNeg;else isPos"
              href="#"
              class="coin-change bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded inline-flex items-center"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
              <p class="pl-2 rounded">{{ change }}%</p>
            </a>
            <!--For Positive Change -->
            <ng-template #isPos>
            <a 
            href="#"
            class="coin-change bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded inline-flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-up-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
              />
            </svg>
            {{ change }}%
          </a>
        </ng-template>
          </div>
          <a href="{{ websiteurl }}">
            <div
              class="mt-4 lg:mt-0 mr-0 xl:mr-8 text-sm bg-indigo-100 text-indigo-700 dark:text-indigo-600 rounded font-medium py-2 w-48 flex justify-center"
            >
              Website
            </div></a
          >
        </div>
        <div class="relative">
          <hr class="mt-8 mb-8 lg:mb-10 h-1 rounded bg-gray-200" />
          <hr class="absolute top-0 h-1 w-full rounded bg-indigo-400" />
        </div>
        <div class="flex flex-col lg:flex-row items-start lg:items-center">
          <div
            class="flex flex-col lg:flex-row w-full lg:w-2/3 items-start lg:items-center mb-8 lg:mb-0"
          >
          <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
          </div>
            <div
              class="mr-24 flex lg:block flex-row-reverse items-center mb-4 lg:mb-0"
            >
              <h3
                class="text-indigo-700 dark:text-indigo-600 leading-6 text-lg"
              >
                MarketCap
              </h3>
              <h2
                class="mr-2 lg:mr-0 text-gray-600 dark:text-gray-400 text-xl lg:text-2xl font-bold"
              >
                ${{ marketCap }}
              </h2>
            </div>
            <div class="flex lg:block flex-row-reverse items-center">
              <h3
                class="text-indigo-700 dark:text-indigo-600 leading-6 text-lg"
              >
                All Time High Price
              </h3>
              <h2
                class="mr-2 lg:mr-0 text-gray-600 dark:text-gray-400 text-xl lg:text-2xl font-bold"
              >
                ${{ alltime }}
              </h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Card code block end -->
      <div
        class="mx-auto w-full p-5 lg:p-10 bg-white text-black dark:text-white bg-transparent shadow rounded"
      >
        <div class="grid grid-cols-2 gap-4">
          <div>
            <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="chartOptions"
            >
            </highcharts-chart>
          </div>
          <div>
            {{ description }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
