<app-header></app-header>

<div class="w-full bg-gray-50 dark:bg-dark-grey py-10">
  <div class="container mx-auto px-6 flex items-start justify-center">
    <div class="w-full">
      <!-- Card is full width. Use in 12 col grid for best view. -->
      <!-- Card code block start -->
      <div
        class="mx-auto w-full p-5 lg:p-10 bg-white dark:bg-grey-blue shadow rounded"
      >
        <div
          class="grid grid-cols-2 lg:flex-row items-start lg:items-center mb-8"
        >
          <div class="coin-logo-section w-full">
            <img
              class="coin-logo overflow-hidden object-cover rounded object-center"
              src="{{ iconUrl }}"
              alt="logo"
            />
            <h1
              class="coin-name text-xl mr-5 lg:text-2xl text-gray-800 dark:text-gray-100 font-bold"
            >
              {{ name }}
            </h1>
            <span
              class="coin-symbol relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                {{ symbol }}
              </span>
            </span>
            <span
              class="coin-rank w-20 text-white pl-3.5 py-2 mt-2 text-xs bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-800"
            >
              Rank #{{ rank }}
            </span>
          </div>
          <div class="coin-p001 w-full">
            <h1
              class="text-indigo-700 dark:text-white leading-6 text-base lg:text-xl"
            >
              {{ name }}'s Price
            </h1>
            <h2
              class="coin-price text-base md:text-xl lg:text-2xl text-gray-800 dark:text-gray-100 font-bold"
            >
              ${{ price | number: "1.2-2" }}
            </h2>
            <!--For Negetive Change -->
            <a
              *ngIf="isNeg; else isPos"
              href="#"
              class="coin-change bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded inline-flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-down-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                />
              </svg>
              <p class="pl-2 rounded">{{ change }}%</p>
            </a>
            <!--For Positive Change -->
            <ng-template #isPos>
              <a
                href="#"
                class="coin-change bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded inline-flex items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-up-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
                  />
                </svg>
                {{ change }}%
              </a>
            </ng-template>
          </div>
        </div>
        <div class="relative">
          <hr class="mt-8 mb-8 lg:mb-10 h-1 rounded bg-gray-200" />
          <hr
            class="absolute top-0 h-1 w-full rounded bg-indigo-400 dark:bg-white"
          />
        </div>
        <div class="flex flex-col lg:flex-row items-start lg:items-center">
          <div
            class="flex flex-col lg:flex-row w-full lg:w-full items-start lg:items-center mb-8 lg:mb-0"
          >
            <div
              class="coin-progress bg-gray-200 w-full lg:w-96 rounded-full h-2.5 dark:bg-gray-700"
              style="display: inline-block"
            >
              <div
                class="bar bg-blue-600 h-2.5 rounded-full"
                [style.width]="percentage + '%'"
              ></div>
              <div class="lg:w-96 sm:w-16" style="display: inline-block">
                <p
                  class="coin-low pl-2 mr-0 text-xs lg:text-sm md:text-sm font-bold dark:text-white"
                  style="display: inline-block"
                >
                  Low : ${{ low | number: "1.2-2" }}
                </p>
                <p
                  class="coin-high ml-15 pl-0.5 text-xs lg:pr-2 lg:ml-25 lg:pl-28 lg:ml-15 lg:text-sm font-bold dark:text-white"
                  style="display: inline-block"
                >
                  High : ${{ high | number: "1.2-2" }}
                </p>
              </div>
            </div>

            <div
              class="coin-marketcap mr-24 flex-inline lg:block flex-row-reverse items-center mb-4 ml-20 lg:mb-0"
            >
              <h3
                class="text-indigo-700 dark:text-indigo-600 leading-6 text-lg"
              >
                MarketCap
              </h3>
              <h2
                class="mr-2 lg:mr-0 text-gray-600 dark:text-white text-xl lg:text-2xl font-bold"
              >
                ${{ marketCap }}
              </h2>
            </div>
            <div
              class="coin-alltime flex lg:block flex-row-reverse items-center"
            >
              <h3 class="text-indigo-700 dark:text-white leading-6 text-lg">
                All Time High Price
              </h3>
              <h2
                class="mr-2 lg:mr-0 text-gray-600 dark:text-white text-xl lg:text-2xl font-bold"
              >
                ${{ alltime }}
              </h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Card code block end -->

      <div
        class="coin-desc mx-auto w-full bg-white p-5 lg:p-10 text-black dark:text-white dark:bg-grey-blue shadow rounded"
      >
        <div class="coin-desc flex gap-4 justify-center" style="display: inline-block">
          <div class="coin-desc" [ngClass]="{ limitTextHeight: isReadMore }">
            {{ description }}
          </div>
          <button
            type="button"
            class="readmore inline-flex items-center px-6 py-2 text-sm text-center rounded text-cyan-500 bg-cyan-100 hover:bg-cyan-200"
            (click)="showText()"
          >
            {{ isReadMore ? "Read More" : "Read Less" }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 ml-2 mt-0.5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </button>
        </div>
      </div>
      <div
      id="chart"
        class="mx-auto w-full bg-white p-5 lg:p-10 text-black dark:text-white dark:bg-grey-blue shadow rounded"
      >
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
