.coin-logo{
    width: 45px;
    height: 45px;
    display: inline-block;
}
.coin-name{
    display: inline-block;
    margin-left: 10px;
}
.coin-price{
    display: inline-block;
}
.coin-change{
  margin-left: 20px;
  border-radius: 10px;
}
.coin-rank{
    display: block;
    border: 5px;
    background-color: grey;
    border-radius: 3px;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 360px)
and (-webkit-min-device-pixel-ratio: 2) {
    .coin-high{
        padding-left: 0;
      }
      .coin-marketcap{
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          margin-top: 50px;
      }
      .coin-alltime{
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
      }
 
}
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 2) {
.coin-high{
  margin-left:59px;
}
.coin-marketcap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}
.coin-alltime{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.coin-logo{
    width: 30px;
    height: 30px;
    display: inline-block;
}
}
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 425px)
and (-webkit-min-device-pixel-ratio: 2) {
.coin-high{
  margin-left:70px;
}
.coin-marketcap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}
.coin-alltime{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.coin-p001{
    margin-left:35px;
    margin-top:9px;
}
.coin-change{
    margin-top: 10px;
    margin-left: 5px;
}
.coin-logo{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.coin-symbol{
    margin-top: 20px;
    margin-left: 25px;
}
.coin-rank{
    margin-left: 25px;
}
}

.limitTextHeight {
    height: 100px;
    overflow: hidden;
}
.readmore{
    color: red;
    padding: 0px;
    margin: 0px;
}