<app-header></app-header>
<!-- Card is full width. Use in 12 col grid for best view. -->
<!-- Card code block start -->
<div class="  min-h-screen content-center  bg-gray-50 dark:bg-dark-grey" style="padding-top: 4em;">
    <div class="flex justify-center py-12 sm:px-6 px-4">
        <div class="max-w-2xl rounded shadow bg-white dark:bg-grey-blue  py-6 pl-6 pr-12">
            <div class="flex items-center">
                <p class="text-lg md:pr-96 font-semibold leading-4 text-gray-800 dark:text-gray-100">Krypto-Tracker</p>
            </div>
            <div class="md:flex items-center justify-between pt-8">
                <div class="flex items-center">
                    <div class="flex items-center justify-center w-12 h-12 bg-purple-100 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M24.9436 6V12C24.9436 12.6 24.5443 13 23.9452 13C23.3461 13 22.9468 12.6 22.9468 12V8.4L15.159 16.2C14.7596 16.6 14.1605 16.6 13.7612 16.2L9.46789 11.9L2.67854 18.7C2.47885 18.9 2.27917 19 1.97964 19C1.68011 19 1.48042 18.9 1.28073 18.7C0.881358 18.3 0.881358 17.7 1.28073 17.3L8.76899 9.8C9.16836 9.4 9.76742 9.4 10.1668 9.8L14.4601 14.1L21.549 7H17.9546C17.3555 7 16.9562 6.6 16.9562 6C16.9562 5.4 17.3555 5 17.9546 5H23.9452C24.045 5 24.2447 5 24.3446 5.1C24.5443 5.2 24.7439 5.4 24.8438 5.6C24.9436 5.7 24.9436 5.9 24.9436 6Z" fill="#6D28D9"></path>
                        </svg>
                    </div>
                    <div class="pl-4">
                        <p class="w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">{{totalMarketCap}}</p>
                        <p class="w-8 text-xs leading-3 text-gray-500 pt-2 dark:text-gray-400">Market Cap</p>
                    </div>
                </div>
                <div class="flex items-center md:pt-0 pt-4 md:pl-10">
                    <div class="flex items-center justify-center w-12 h-12 bg-blue-100 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M7.71688 7C7.71688 4.2 9.91344 2 12.7091 2C15.5047 2 17.7012 4.2 17.7012 7C17.7012 9.8 15.5047 12 12.7091 12C9.91344 12 7.71688 9.8 7.71688 7ZM21.695 19V21C21.695 21.6 21.2956 22 20.6965 22C20.0975 22 19.6981 21.6 19.6981 21V19C19.6981 17.3 18.4001 16 16.7028 16H8.71532C7.01798 16 5.72001 17.3 5.72001 19V21C5.72001 21.6 5.32064 22 4.72158 22C4.12252 22 3.72314 21.6 3.72314 21V19C3.72314 16.2 5.9197 14 8.71532 14H16.7028C19.4984 14 21.695 16.2 21.695 19ZM12.7091 10C11.0117 10 9.71375 8.7 9.71375 7C9.71375 5.3 11.0117 4 12.7091 4C14.4064 4 15.7044 5.3 15.7044 7C15.7044 8.7 14.4064 10 12.7091 10Z"
                                fill="#1D4ED8"
                            ></path>
                        </svg>
                    </div>
                    <div class="pl-4">
                        <p class="w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">{{totalExchanges}}</p>
                        <p class="w-8 text-xs leading-3 text-gray-500 pt-2 dark:text-gray-400">Total Exchanges</p>
                    </div>
                </div>
                <div class="flex items-center md:pt-0 pt-4 md:pl-10">
                    <div class="flex items-center justify-center w-12 h-12 bg-red-100 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M13.7297 0.599805L21.7172 4.5998C22.8155 5.0998 23.4145 6.0998 23.4145 7.1998V16.6998C23.4145 17.8998 22.7156 18.8998 21.7172 19.3998L13.7297 23.3998C13.3303 23.5998 12.931 23.6998 12.4318 23.6998C12.0324 23.6998 11.5332 23.5998 11.1338 23.3998L3.14631 19.3998C2.04804 18.8998 1.44897 17.7998 1.44897 16.6998V7.1998C1.44897 6.0998 2.04804 5.0998 3.04647 4.5998L11.0339 0.599805C11.9325 0.199805 12.931 0.199805 13.7297 0.599805ZM12.4302 2.1998C12.3303 2.1998 12.1307 2.1998 12.0308 2.2998L4.6424 5.9998L12.4302 9.89981L20.218 5.9998L12.8296 2.2998C12.7297 2.1998 12.6299 2.1998 12.4302 2.1998ZM3.9435 17.6998C3.64397 17.4998 3.44428 17.0998 3.44428 16.7998V7.5998L11.4318 11.5998V21.3998L3.9435 17.6998ZM13.4286 21.3998L20.817 17.6998C21.2164 17.4998 21.4161 17.1998 21.4161 16.7998V7.5998L13.4286 11.5998V21.3998Z"
                                fill="#DC2626"
                            ></path>
                        </svg>
                    </div>
                    <div class="pl-4">
                        <p class="w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">{{total24hVolume}}</p>
                        <p class="w-8 text-xs leading-3 text-gray-500 pt-2 dark:text-gray-400">24hr Volume</p>
                    </div>
                </div>
                <div class="flex items-center md:pt-0 pt-4 md:pl-10">
                    <div class="flex items-center justify-center w-12 h-12 bg-green-100 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M14.6529 11H13.1552V6H17.1489C17.748 6 18.1474 5.6 18.1474 5C18.1474 4.4 17.748 4 17.1489 4H13.1552V1C13.1552 0.4 12.7558 0 12.1568 0C11.5577 0 11.1583 0.4 11.1583 1V4H9.66068C7.16459 4 5.16772 6 5.16772 8.5C5.16772 11 7.16459 13 9.66068 13H11.1583V18H6.16616C5.5671 18 5.16772 18.4 5.16772 19C5.16772 19.6 5.5671 20 6.16616 20H11.1583V23C11.1583 23.6 11.5577 24 12.1568 24C12.7558 24 13.1552 23.6 13.1552 23V20H14.6529C17.1489 20 19.1458 18 19.1458 15.5C19.1458 13 17.1489 11 14.6529 11ZM9.66068 11C8.26287 11 7.16459 9.9 7.16459 8.5C7.16459 7.1 8.26287 6 9.66068 6H11.1583V11H9.66068ZM13.1552 18H14.6529C16.0507 18 17.1489 16.9 17.1489 15.5C17.1489 14.1 16.0507 13 14.6529 13H13.1552V18Z"
                                fill="#047857"
                            ></path>
                        </svg>
                    </div>
                    <div class="pl-4">
                        <p class="w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">${{totalCoins}}</p>
                        <p class="w-8 text-xs leading-3 text-gray-500 pt-2 dark:text-gray-400">Total Coins</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="h-full max-w-5xl mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 " style="display: block; ">
    <div class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 rounded-tl-lg rounded-tr-lg dark:bg-grey-blue ">
        <div class="sm:flex items-center justify-between">
            <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800 dark:text-white">Coin Market Place</p>

            <div>
                
                <button class="inline-flex sm:ml-3 mt-4 sm:mt-0 items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded" routerLink="/buy-krypto">
                    <p class="text-sm font-medium leading-none text-white">Buy Crypto</p>
                </button>
            </div>
        </div>
    </div>
    <div class="bg-white shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 overflow-y-auto dark:bg-transparent border-double" >
        <table class="w-full whitespace-nowrap  ">
            <thead>
                <tr class="h-16 w-full text-sm leading-none text-gray-800 dark:bg-transparent">
                    <th class="font-normal text-left  dark:text-white">Rank</th>
                    <th class="font-normal text-left pl-20 dark:text-white">Coin</th>
                    <th class="font-normal text-center pl-12 dark:text-white">MarketCap</th>
                    <th class="font-normal text-center pl-4 dark:text-white">Price</th>
                    <th class="font-normal text-center pl-2 dark:text-white">Last 7 days</th>
                    <th class="font-normal text-center pl-4 dark:text-white">Details</th>

                </tr>
            </thead>
            <tbody class="w-full ">
                <tr class="h-20 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-gray-400 dark:bg-transparent dark:hover:bg-gray-600 " *ngFor="let item of li ; index as i ">
                    <td class ="pl-3">
                        <p class="font-medium dark:text-white">{{li[i].rank}}</p>
                    </td>
                    <td class="pl-10 cursor-pointer" >
                        <div class="flex items-center" >
                            <div class="w-10 h-10">
                                <img class="w-full h-full" src="{{li[i].iconUrl}}" />
                            </div>
                            <div class="pl-4">
                                <p class="font-medium  dark:text-white " id="name">{{li[i].name}}</p>
                                <p class="text-xs leading-3 text-gray-600 pt-2  dark:text-white">{{li[i].symbol}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="pl-5 cursor-pointer">                            
                        <p class="font-medium text-center  dark:text-white">${{li[i].marketCap| number:'1.0':'en-US'}}</p>                 
                    </td>
                    <td class="pl-4">
                        <p class="font-medium text-center  dark:text-white">${{li[i].price | number : '1.3-3'}}</p>
                    </td>
                   <td class ="pl-2">
                    <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="chartOptions"
                    >
                  </highcharts-chart>
                   </td>
                    <td class="pl-4">
                        <input type="text" class="form-control"  placeholder="uuid" 
                        aria-describedby="basic-addon1" value='{{i}}' #name  readonly style="display: none;">
                        <button  class="bg-transparent border border-purple-500 text-purple-500 hover:bg-purple-500 hover:text-white text-center py-2 px-4 rounded" [value]='name.value' (click)="getDetails(name.value)" [routerLink]="['/coin', li[i].uuid]" style ="display: inline-block;" > View </button>
                      
                    </td>
                    <td class="pl-4" >
                        <input type="text" class="form-control"  placeholder="index" 
                        aria-describedby="basic-addon1" value='{{i}}' #index  readonly style="display: none;">
                        <button  class="bg-transparent border border-purple-500 text-purple-500 hover:bg-purple-500 hover:text-white text-center py-2 px-4 rounded" *ngIf="currentUser"  (click)="addtoWatchlist(index.value)" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" >
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg> </button>
                          <div *ngIf ="showModal" class="fixed z-10 inset-0 overflow-y-auto"  aria-modal="true">
                            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        
                              <div class="fixed inset-0 bg-transparent bg-opacity-20 transition-opacity" aria-hidden="true"></div>
                             <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                          
                          
                              <div class="relative inline-block align-bottom bg-white dark:bg-grey-blue rounded-lg text-left overflow-hidden shadow-sm transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                                <div class="bg-white dark:bg-grey-blue px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                  <div class="sm:flex sm:items-start">
                                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                      <!-- Heroicon name: outline/exclamation -->
                                      <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                      </svg>
                                    </div>
                                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left ">
                                      <button class="text-lg leading-6 font-medium text-gray-900 dark:text-white" id="modal-title">Add to Favourites</button>
                                      <div class="mt-2">
                                        <p class="text-sm text-gray-500 dark:text-white">This coin has been added to your Watchlist successfully</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse dark:bg-grey-blue">
                                  <input type="text" class="form-control"  placeholder="index" 
                                  aria-describedby="basic-addon1" value='{{i}}' #index  readonly style="display: none;">
                                 <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"  (click)="toggleModal()">OK</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



</div>

<app-footer></app-footer>