*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul{
    width: 88px;
    height: 88px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  ul li{
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    animation: loading 0.8s infinite;
  
  }
  
  ul li:nth-child(5){
    opacity: 0;
  }
  ul li:nth-child(1){
    animation-delay: 0.1s;
  }
  ul li:nth-child(2){
    animation-delay: 0.2s;
  }
  ul li:nth-child(3){
    animation-delay: 0.3s;
  }
  ul li:nth-child(6){
    animation-delay: 0.4s;
  }
  ul li:nth-child(9){
    animation-delay: 0.5s;
  }
  ul li:nth-child(8){
    animation-delay: 0.6s;
  }
  ul li:nth-child(7){
    animation-delay: 0.7s;
  }
  ul li:nth-child(4){
    animation-delay: 0.8s;
  }
  @keyframes loading{
    1%{
      background-color: #0086b3;
    }
  }