.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.watchlist-img{
    width: 40px;
    height: 40px;
}
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 360px)
and (-webkit-min-device-pixel-ratio: 2) {
 
    .watchlist-img{
        width: 100px;
        height: 100px;
        margin-left: 70px;
        margin-top: 20px;
    }
}
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 2) {
    .watchlist-img{
        width: 80px;
        height: 80px;
    }
}
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 425px)
and (-webkit-min-device-pixel-ratio: 2) {
    .watchlist-img{
        width: 90px;
        height: 90px;
    }
}

