
  .logo-img{
    float: left;
    position: relative;
    height: 50px;
    border-radius: 5px;
  }
 
  .h001{
    padding-top: 2px;
    padding-bottom: 20px;
  }

  .account-dropdown{
    margin-left: -95px;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 360px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .b001{
      width: 8rem;
    }
    .user-dropdown{
      align-items: center;
      margin-left: 40px;
    }
    .mob-view{
      margin-left: 70px;
    }
}
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 2) {
  .b001{
    width: 8rem;
  }
  .user-dropdown{
    align-items: center;
    margin-left: 60px;
  }
  .mob-view{
    margin-left: 100px;
  }
 
}
@media only screen 
and (min-device-width: 420px) 
and (max-device-width: 725px)
and (-webkit-min-device-pixel-ratio: 2) {
  .b001{
    width: 10rem;
  }
  .user-dropdown{
    align-items: center;
    margin-left: 85px;
  }
  .mob-view{
    margin-left: 120px;
  }

}